/* PC */
@media screen and (min-width: 992.98px) {
    .mobile-tablet{
        display: none;
    }
}

/* Talet && mobile */

@media screen and (max-width: 991.98px) {
    .pc{
        display: none;
    }
    .nav--link-mb{
        color: var(--color-dark);
        font-size: 2rem;
    }
    .nav--ul{
        flex-direction: column;
        align-items: start;
        padding: 30px;
        gap: 20px;
    }
    .header__search{
        position: relative;
    }
    .search--container {
        right: -195px;
        transform: none;
    }
}

/* Talet */

@media screen and (min-width: 768.98px) and (max-width: 991.98px) {
   
}

/* Moblie */

@media screen and (max-width: 767.98px) {
    .btn{
        min-width: 0px;
        padding: 10px 8px;
        font-size: 1.4rem;
    }
    .arrow-up{
        height: 20px;
        right: -40px;
    }
    .search--container{
        top: 27px;
        right: -150px;
    }
    .btn--apply-filter{
        min-width: 100%;
    }
}